[submodule "dotbot"]
	path = dotbot
	url = https://github.com/alexdanylyschyn/dotbot.git
	ignore = dirty
[submodule "vim/pack/vim-airline"]
	path = vim/pack/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "minimal-emacs.d"]
	path = minimal-emacs.d
	url = https://github.com/jamescherti/minimal-emacs.d.git
