[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "hammerspoon/spacebar"]
	path = hammerspoon/spacebar
	url = https://github.com/alexdanylyschyn/spacebar.git
